<table class="grid">
    <tr id="table-head">
        <th></th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>User Login Name</th>
        <th>Date of Creation</th>
        <th>Authority Group</th>
        <th>Actions</th>
    </tr>
    <tr id="table-body" *ngFor="let user of users; let i = index">
        <td id="user-id">{{i+1}}</td>

        <td *ngIf="user.isEdit">
            <input type="text" class="editInput" [(ngModel)]="user.givenName" />
        </td>
        <td *ngIf="!user.isEdit">
            {{user.givenName}}
        </td>

        <td *ngIf="user.isEdit">
            <input type="text" class="editInput" [(ngModel)]="user.sn" />
        </td>
        <td *ngIf="!user.isEdit">
            {{user.sn}}
        </td>

        <td>{{user.userPrincipalName}}</td>
        <td>{{user.whenCreated}}</td>

        <td *ngIf="user.isEdit">
            <select id="groups-list" [(ngModel)]="user.group">
                <option value="users">users</option>
                <option value="managers">managers</option>
                <option value="editors">editor</option>
              </select>
        </td>
        <td *ngIf="!user.isEdit">
            {{user.group}}
        </td>
        <td>
            <div *ngIf="user.isEdit">
                <a class="icon" id="updateIcon" (click)="updateUser(user)"></a>
                <a class="icon" id="cancelIcon" (click)="cancelEdit(user)"></a>
            </div>
            <div *ngIf="!user.isEdit">
                <a class="icon" id="editIcon" (click)="editToggle(user)"></a>
                <a class="icon" id="trashIcon" (click)="deleteUser(user)"></a>
            </div>
        </td>
    </tr>
    <tr id="table-foot">
        <td colspan="7">
            <input id="create-user-button" type="button" value="create new user" (click)="createUser()" />
        </td>
    </tr>
</table>