<div id="main">
    <iframe src="http://192.168.1.5:5601/app/dashboards#/view/8c59e8d0-78cf-11ee-9540-b31487ed76b5?embed=true&_g=(refreshInterval%3A(pause%3A!t%2Cvalue%3A60000)%2Ctime%3A(from%3Anow-15m%2Cto%3Anow))&hide-filter-bar=true" height="600" width="800"></iframe>
    <!-- <iframe src="{{kibana}}/app/dashboards#/view/8c59e8d0-78cf-11ee-9540-b31487ed76b5?embed=true&_g=(refreshInterval%3A(pause%3A!t%2Cvalue%3A60000)%2Ctime%3A(from%3Anow-15m%2Cto%3Anow))&hide-filter-bar=true" height="600" width="800"></iframe> -->
</div>
