#header {
    left: 5vw;
    width: calc(100% - 5vw);
    transition: 0.3s;
    position: absolute;
    background-color: black;

    #title {
        width: fit-content;
        margin-top: 1vh;
        margin-bottom: 1vh;
        color: #808080;
        font-size: 5vh;
        margin-left: 45vw;
        display: inline-block;
        vertical-align: middle;
        transition: 0.3s;
    }
}

.mainShrink {
    transition: 0.3s;
    left: 15vw !important;
    width: calc(100% - 15vw) !important;
    #title {
        margin-left: 35vw !important;
    }
}