#header {
    left: 5vw;
    width: calc(100% - 5vw);
    transition: 0.3s;
    position: absolute;
    background-color: rgb(75, 57, 9);
}
#title {
    width: fit-content;
    margin-top: 1vh;
    margin-bottom: 1vh;
    color: rgb(161, 138, 75);
    font-size: xx-large;
    margin-left: 45vw;
}
.mainShrink {
    transition: 0.3s;
    left: 15vw !important;
    width: calc(100% - 15vw) !important;
}