@import '../../../../../styles.scss';

.overlay {
    height: 100%;
    width: 100%;
    z-index: 2;
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    background-color: gray;
    opacity: 0.4;
}

.grid {
    color: #f2f2f2;
    background: $secondary;
    border-collapse: collapse;
    margin-left: 18vw;
    margin-top: 7vh;
    width: 80%;
    border-radius: 1rem;

    tr.table-body.blocked {
        background-color: #57383e;

        &:hover:not(#table-head, #table-foot) {
            opacity: 0.9;
            background: #6f3641;
        }
    }

    tr {
        box-sizing: border-box;
        height: 6vh;

        .openUserStrike {
            cursor: pointer;
        }

        th {
            box-sizing: border-box;
        }

        td {
            box-sizing: border-box;
            padding-left: 0.5vw;
            border: 0.15rem solid $primary;
            &:not(#user-block, #actions-cell) {
                width: 10vw;
            }
            #actions-cell {
                width: 3vw;
            }

            .editInput {
                color: #f2f2f2;
                box-sizing: border-box;
                height: 5vh;
                font-size: 0.9vw;
                width: 9vw;
                background-color: $primary;
                border-radius: 0.6vh;
                border: 0.1rem solid black;
            }
            select {
                font-size: 0.9vw;
                border: 0.1rem solid black;
                height: 5vh;
                width: 9vw;
                border-radius: 0.6vh;
                color: #f2f2f2;
                background-color: $primary;
            }

        }

        #user-block {
            text-align: center;
            padding-right: 0;
        }

        .icon {
            background-repeat: no-repeat;
            background-size: contain;
            display: inline-block;
            width: 1.3rem;
            height: 1.3rem;
            cursor: pointer;
            filter: contrast(0.1);

            &:hover {
                transform: scale(1.1);
            }

        }

        #editIcon {
            background-image: url('../../../../../images/editIcon.png');
            margin-left: 1vw;
        }

        #trashIcon {
            background-image: url('../../../../../images/trashIcon.png');
            margin-left: 1.5vw;
        }

        #cancelIcon {
            background-image: url('../../../../../images/XButton.png');
            margin-left: 1.5vw;
        }

        #updateIcon {
            margin-left: 1vw;
            background-image: url('../../../../../images/VButton.png');
        }

        &:hover:not(#table-head, #table-foot) {
            background: darken($secondary, 2%);
        }
    }

    #table-foot {
        line-height: 2.4rem;
        cursor: pointer;
        
        td {
            border: none;
            border-radius: 1rem;
        }
        
        #create-user-button {
            color: #f2f2f2;
            border: none;
            font-size: inherit;
            background: none;
            padding: 0 1.6vh;
            width: 100%;
            font-weight: bold;
        }
        
        &:hover {
            background: darken($secondary, 2%);
        }
    }
}