<div class="overlay" *ngIf="childUser" (click)="childUser = null"></div>
<app-user-strike [user]="childUser" *ngIf="childUser"></app-user-strike>
<table class="grid">
    <tr id="table-head">
        <th>First Name</th>
        <th>Last Name</th>
        <th>Phone</th>
        <th>Mail</th>
        <th>Authority Group</th>
        <th>Actions</th>
        <th>blocked</th>
    </tr>
    <tr class="table-body" *ngFor="let user of users" [ngClass]="{'blocked': user.isBlocked}">

        <td *ngIf="user.isEdit">
            <input type="text" class="editInput" [(ngModel)]="user.givenName" />
        </td>
        <td (click)="openUserStrike(user.givenName)" *ngIf="!user.isEdit">
            {{user.givenName}}
        </td>

        <td *ngIf="user.isEdit">
            <input type="text" class="editInput" [(ngModel)]="user.sn" />
        </td>
        <td (click)="openUserStrike(user.givenName)" *ngIf="!user.isEdit">
            {{user.sn}}
        </td>

        <td *ngIf="user.isEdit">
            <input type="text" class="editInput" [(ngModel)]="user.telephoneNumber" />
        </td>
        <td (click)="openUserStrike(user.givenName)" *ngIf="!user.isEdit">
            {{user.telephoneNumber}}
        </td>

        <td *ngIf="user.isEdit">
            <input type="text" class="editInput" [(ngModel)]="user.mail" />
        </td>
        <td (click)="openUserStrike(user.givenName)" *ngIf="!user.isEdit">
            {{user.mail}}
        </td>

        <td *ngIf="user.isEdit">
            <select id="groups-list" [(ngModel)]="user.group">
                <option value="users">users</option>
                <option value="managers">managers</option>
                <option value="editors">editor</option>
            </select>
        </td>
        <td (click)="openUserStrike(user.givenName)" *ngIf="!user.isEdit">
            {{user.group}}
        </td>
        <td id="actions-cell">
            <div *ngIf="user.isEdit">
                <a class="icon" id="updateIcon" (click)="updateUser(user)"></a>
                <a class="icon" id="cancelIcon" (click)="cancelEdit(user)"></a>
            </div>
            <div *ngIf="!user.isEdit">
                <a class="icon" id="editIcon" (click)="editToggle(user)"></a>
                <a class="icon" id="trashIcon" (click)="deleteUser(user)"></a>
            </div>
        </td>
        <td id="user-block">
            <mat-slide-toggle [checked]="user.isBlocked" (change)="setUserBlock(user.givenName, !user.isBlocked)"></mat-slide-toggle>
        </td>
    </tr>
    <tr id="table-foot">
        <td colspan="7">
            <input id="create-user-button" type="button" value="create new user" (click)="createUser()" />
        </td>
    </tr>
</table>