.time {
    font-size: 1.2vw;
    font-weight: bold;
    color: #f2f2f2;
}
#endDate {
    float: right;
}

#recording-title {
    color: #f2f2f2;
    display: block;
    text-align: center;
    position: relative;
    font-weight: bolder;
    font-size: x-large;
    
}

.video-js, video {
    border-radius: 0.5rem;
    display: flex;
    width: auto;
    height: 17vw;
    aspect-ratio: 479 / 270;
}

.delete-button {
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    cursor: pointer;
    background-image: url('../../../../../../../images/deleteIcon.png');
    width: 3vw;
    height: 5vh;
    margin: 1vh 0.3vw;
    display: inline-block;
    z-index: 1;
    transition: 0.2s;

    &:hover {
        transform: scale(1.1);
    }
}