@import '../../../../styles.scss';

$border-radius: 0.4rem;

#my-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    background-color: $light-blue;
    border-radius: $border-radius;
    padding: 1.4vw;
    z-index: 3;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.time {
    width: fit-content;
    padding: 1.5vh;
    margin-bottom: 2.45vh;
    outline: none;
    border-radius: $border-radius;
    border: 0.2vw solid $background;
    color: $black;
    transition: 0.1s;

    &:focus {
        border-color: $light-green;
    }
}


.file {
    width: fit-content;
    padding: 1.5vh;
    margin-bottom: 2.45vh;
    background-color: $background;
    border-radius: $border-radius;
    color: $black;
}

.button {
    background-color: $black;
    color: $background;
    padding: 0.73vw 1.46vw;
    border: none;
    cursor: pointer;
    border-radius: $border-radius;
    margin-right: 0.73vw;
    margin-bottom: 1vh;
    transition: 0.1s;

    &:hover {
        background-color: $light-black;
    }
}

select {
    color: $black;
    width: fit-content;
    padding: 1.5vh;
    margin-bottom: 2.45vh;
    border-radius: $border-radius;
    border: 0.2vw solid $background;

    &:focus {
        border-color: $light-green;
    }
}