<div id="filter-container">
    <p id="filter-title">filter</p>

    <label class="title">Start Time:</label>
    <input type="datetime-local" step="1" class="time" id="start-time" #startTime />

    <label class="title">End Time:</label>
    <input type="datetime-local" step="1" class="time" id="end-time" #endTime />

    <input type="button" id="filter-button" (click)="filterRecordings()" value="filter" />
</div>
<div id="recordings-container">
    <div *ngFor="let roomRecording of roomRecordings">
        <label class="room-name">{{roomRecording.room}}</label>
        <div id="video-element-container">
            <div class="video-element" *ngFor="let stream of roomRecording.streams | keyvalue">
                <video [id]='stream.key' class="video-js"></video>
            </div>
        </div>
    </div>
</div>