@import '../../../styles.scss';

.container {
    width: 100vw;
    margin: 0 0;
    position: absolute;
}

#filter-container {
    background-color: $light-blue;
    color: $black;
    padding: 2vh;
    left: 13vw;
    position: absolute;
    width: 65vw;
    height: 20vh;
    margin: 2vh auto;
    border-radius: 0.5vw;
    text-align: center;


    #filter-button {
        border-radius: 0.8vw;
        border: none;
        font-size: 3vh;
        background-color: $black;
        color: $background;
        padding: 1vh 2vw;
        cursor: pointer;
        transition: .2s;

        &:hover {
            background-color: $light-black;
        }
    }

    #filter-title {
        font-size: 5vh;
        font-weight: bold;
        margin-top: 0;
        margin-bottom: 1vh;
    }

    .time {
        padding: 2vh;
        margin-bottom: 3vh;
        border: 0.2vw solid $background;
        border-radius: 0.5vw;
        width: 13vw;
        height: 2.5vh;
        margin-right: 2.5vw;
        background-color: $background;
        color: $black;
        transition: border-color 0.2s ease;
        outline: none;

        &:focus {
            border-color: $light-grey;
        }
    }

    .title {
        width: auto;
        font-size: 3vh;
        font-weight: bold;
        margin-right: 0.7vw;
    }
}

.upload-container {
    position: relative;
    display: inline-block;
    top: 30vh;
    left: 39vw;


    .upload-label {
        display: block;
        padding: 1em 2em;
        color: $background;
        background: $black;
        border-radius: 0.8vw;
        transition: .2s;

        &:hover {
            cursor: pointer;
            background: $light-black;
        }
    }

    .upload-button {
        position: absolute;
        width: 0;
        height: 100%;
        opacity: 0;
    }
}

.overlay {
    height: 100%;
    width: 100%;
    z-index: 2;
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    background-color: gray;
    opacity: 0.4;
}

.empty-div {
    width: 73vw;
    height: 40vh;
    background-image: url('../../../images/emptyFolderIcon.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}

.recordings-container {
    margin-top: 31vh;
    position: relative;
    left: 10vw;
    

    .room-name {
        font-weight: bold;
        font-size: 2rem;
        margin-left: 33vw;
        color: $black;
    }

    #room-recording-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 73vw;
        background-color: $light-blue;
        border-radius: 0.5vw;

        .room-recording {
            padding: 3vh;
        }
    }
}