<div class="container">
<div id="filter-container">
    <p id="filter-title">filter</p>

    <label class="title">Start Time:</label>
    <input type="datetime-local" step="1" class="time" id="start-time" #startTime />

    <label class="title">End Time:</label>
    <input type="datetime-local" step="1" class="time" id="end-time" #endTime />

    <input type="button" id="filter-button" (click)="filterRecordings()" value="filter" />
</div>

<div class="overlay" *ngIf="formUpload"></div>
<div class="upload-container" *ngIf="group == 'commanders'">
    <label for="upload" class="upload-label"><b>+</b> upload recording</label>
    <input id="upload" class="upload-button" type="button" (click)="toggleUpload()"/>
    <div class="uploadForm" *ngIf="formUpload">
        <app-upload-form (popup)="toggleUpload($event)"></app-upload-form>
    </div>
</div>

<div class="recordings-container" [ngClass]="{'empty-div': !roomRecordings.length}">
    <div *ngFor="let roomRecording of roomRecordings">
        <label class="room-name">{{roomRecording.room}}</label>
        <div id="room-recording-container">
            <div class="room-recording" *ngFor="let recording of roomRecording.recordings">
                <app-recording-box [recording]="recording" (deleteRecording)="deleteRecording($event)"></app-recording-box>
            </div>
        </div>
    </div>
</div>
</div>