#filter-container {
    background-color: rgb(233, 230, 230);
    border: 0.2vw solid black;
    padding: 2vh;
    left: 13vw;
    position: absolute;
    width: 65vw;
    height: 20vh;
    margin: 1vh auto;
    border-radius: 0.5vw;
    text-align: center;


    #filter-button {
        border-radius: 0.3vw;
        font-size: 3vh;
        background-color: black;
        color: white;
        padding: 1vh 2vw;
        cursor: pointer;
        transition: .2s;

        &:hover {
            background-color: rgb(39, 39, 39);
        }
    }

    #filter-title {
        font-size: 5vh;
        font-weight: bold;
        margin-top: 0;
        margin-bottom: 1vh;
    }

    .time {
        padding: 2vh;
        margin-bottom: 3vh;
        border: 0.2vw solid black;
        border-radius: 0.5vw;
        transition: border-color 0.3s ease;
        width: 13vw;
        height: 4vh;
        margin-right: 2.5vw;
        background-color: #EEE;
    }

    .title {
        width: auto;
        font-size: 3vh;
        font-weight: bold;
        margin-right: 0.7vw;
    }
}

.upload-container {
    position: relative;
    display: inline-block;
    top: 30vh;
    left: 39vw;


    .upload-label {
        display: block;
        padding: 1em 2em;
        color: white;
        background: black;
        border-radius: 0.3vw;
        transition: .3s;

        &:hover {
            cursor: pointer;
            background: #222;
        }
    }

    .upload-button {
        position: absolute;
        width: 0;
        height: 100%;
        opacity: 0;
    }
}

.overlay {
    height: 100%;
    width: 100%;
    z-index: 2;
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
}

.empty-div {
    width: 80vw;
    height: 40vh;
    background-image: url('../../../images/emptyFolderIcon.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}
#recordings-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 31vh;
    margin-left: 10vw;
    background-color: #EEE;


    .room-name {
        font-weight: bold;
        font-size: 2rem;
        margin-left: 33vw;
    }

    

    #video-element-container {
        display: flex;
        flex-wrap: wrap;
        border-radius: 3vh;

        .delete-button {
            background-repeat: no-repeat;
            background-size: contain;
            position: absolute;
            cursor: pointer;
            background-image: url('../../../images/deleteIcon.png');
            width: 3vw;
            height: 5vh;
            margin: 1vh 0.3vw;
            display: inline-block;
            z-index: 1;
            transition: 0.2s;

            &:hover {
                transform: scale(1.1);
            }
        }
    }

    .video-element {
        padding: 3vh;
    }
}