.info-card {
    position: absolute;
    bottom: 1rem;
    width: 13vw;
    height: 36vh;
    border: 0.1rem solid black;
    border-radius: 0.4rem;
    background-color: rgb(240, 235, 235);
    padding: 1vh 2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    .name {
        font-weight: bolder;
        font-size: 2vw;
        margin: 4vh 0 0 0;
        color: #7a7a7a;

    }
    .username {
        margin: 0;
        font-size: 1.4vw;
        color: rgba(112, 114, 117, 0.712);
    }
    .authority-title {
        font-size: 1.4vw;
        color: rgba(105, 107, 110, 0.712);
        margin-bottom: 0;
    }
    .authority {
        color: #808080;
        font-size: 1.5vw;
        font-weight: bold;
        margin: 0;
    }
    .sign-out {
        margin-top: 4vh;
        background-color: rgb(218, 18, 18);
        border-radius: 2rem;
        border: none;
        padding: 2vh 1vw;
        color: aliceblue;
        font-weight: bold;
        cursor: pointer;
        &:hover {
            background-color: rgb(235, 20, 20);
            transform: scale(1.1);
            transition: 0.1s;
        }
    }
}