<div class="container">
    <div id="filter-container">
        <p id="filter-title">filter</p>

        <div id="select-row">
            <label class="title">Room</label>
            <select #roomSelect>
                <option value="all" default>all</option>
                <option *ngFor="let room of rooms" value="{{room.name}}">{{room.name}}</option>
            </select>

            <label class="title">Channel</label>
            <select #channelSelect>
                <option value="all" default>all</option>
                <option *ngFor="let name of deviceNames" value="{{name}}">{{name}}</option>
            </select>

            <span id="checkbox">
                <label id="time-checkbox-container">
                    <input id="time-checkbox" type="checkbox" (click)="timeToggle()" />
                    <div id="time-checkbox-checkmark"></div>
                </label>
                <label for="time-checkbox" id="time-checkbox-text">filter by time</label>
                <!-- <app-checkbox></app-checkbox> -->
            </span>
        </div>

        <div id="time-row" *ngIf="timeFilter">
            <label class="title">Start Time:</label>
            <input type="datetime-local" step="1" class="time" id="start-time" #startTime />
            <label class="title">End Time:</label>
            <input type="datetime-local" step="1" class="time" id="end-time" #endTime />

        </div>
        <input type="button" id="filter-button" (click)="updateStreams()" value="filter" />

    </div>

    <div class="overlay" *ngIf="formUpload"></div>
    <div class="upload-container" *ngIf="group == 'editors' || group == 'managers'">
        <label for="upload" class="upload-label"><b>+</b> upload recording</label>
        <input id="upload" class="upload-button" type="button" (click)="toggleUpload()" />
        <div class="uploadForm" *ngIf="formUpload">
            <app-upload-form (popup)="toggleUpload($event)"></app-upload-form>
        </div>
    </div>


    <div class="recordings-container" [ngClass]="{'empty-div': !recordings.length}">
        <div class="room-recording" *ngFor="let recording of currentRecordings">
            <app-recording-box [deleteId]="deleteId" [recording]="recording" [group]="group"
                (deleteRecording)="deleteRecording($event)"></app-recording-box>
        </div>
        <div id="paginator">
            <mat-paginator [length]="recordings.length" [pageIndex]="pageIndex" [pageSize]="4" [pageSizeOptions]="[2, 4, 6, 10]"
                (page)="onPageChange($event)"></mat-paginator>
        </div>
    </div>