@import '../../../../../styles.scss';

#container {
    display: flex;
    flex-wrap: wrap;
    width: calc(100vw - $nav-width);
    justify-content: center;

    .video-item {
        padding: 1vw;

        #live-icon-block {
            width: 4.92vw;
            height: 7vh;
            position: absolute;
            margin-top: 15vh;
        }
    }

}

#title-container {
    margin-top: 2vh;
    margin-left: 42vw;
    display: flex;
    align-items: center;
    border-radius: 2vh;
    height: 8vh;

    #title {
        font-size: 7vh;
        color: white;
        padding-left: 1vw;
    }

    #recordingButton {
        cursor: pointer;
        background-color: #c94545;
        border-radius: 20px;
        margin-left: 1vw;
        padding: 1vh 1vw;

        #recordingButtonIcon {
            background-color: #c94545;
            background-image: url('../../../../../images/recordingButtonIcon.png');
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center center;
            display: flex;
            width: 3vw;
            height: 6vh;
        }

        &:hover {
            filter: saturate(10%);
            transition: 0.15s;
        }
    }

    .recordingStart {
        background-image: url('../../../../../images/stopRecording.png') !important;
    }
}

#emptyStreams {
    display: flex;
    flex-direction: column;
    align-items: center;

    #noStreamsIcon {
        margin-top: 2vh;
        width: 100vw;
        height: 62vh;
    }
    
    #noStreamsText {
        color: white;
        font-size: 5vw;
        margin: 1vh;
    }
}