<body>
    <div *ngIf="!user">
        <app-login (userUpdate)="updateUser($event)"></app-login>
    </div>
    <div *ngIf="user" (mousemove)="timerReset()" (keydown)="timerReset()">

        <div class="userPopupOverlay" *ngIf="sideNavStatus" (click)="sideNavStatus = false"></div>
        
            <app-header [sideNavStatus]="sideNavStatus"></app-header>
            <div class="main" [ngClass]="{'mainShrink': sideNavStatus}">
                <router-outlet></router-outlet>
            </div>
        <app-nav-bar [user]="user" (signOut)="signOut()" (sideNavToggled)="sideNavStatus = $event;"
            [sideNavStatus]="sideNavStatus"></app-nav-bar>
    </div>
</body>