body {
    background-color: #EEE;
    margin: 0;
    padding: 0;
    height: 100%;

    .main {
        transition: 0.3s;
        width: calc(100% - 5vw);
        left: 5vw;
        top: 7.5vh;
        position: absolute;
        display: flex;
        height: calc(100% - 7.5vh);
        overflow-y: auto;
        overflow-x: hidden;
        .userPopupOverlay {
            height: 100%;
            width: 100%;
            z-index: 99;
            position: fixed;
            overflow: hidden;
            top: 0;
            left: 15vw;
        }
    }
    .mainShrink {
        transition: 0.3s;
        left: 15vw !important;
        width: calc(100% - 15vw) !important;
    }
    .userPopupOverlay {
        height: 100%;
        width: calc(100% - 15vw);
        z-index: 99;
        position: fixed;
        overflow: hidden;
        top: 0;
        left: 15vw;
    }

}