.sidenav {
    width: 5vw;
    background-color: #583911;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
    transition: width 0.3s;
    .text {
        display: none; /* Initially hide text */
        opacity: 0; /* Initially set opacity to 0 */
        transition: opacity 0.5s; /* Slower text appearance */
        color: rgb(161, 138, 75);
        text-decoration: none;
        font-size: 2vw;
    }
    .icon {
        content: "";
        display: inline-block;
        width: 4vw; /* Adjust the width of the image */
        height: 9vh; /* Adjust the height of the image */
        background-repeat: no-repeat; /* Prevent the image from repeating */
        background-size: contain; /* Scale the image to fit within the dimensions */
        transition: 0.3s;
        display: flex;
        align-items: center;
        cursor: pointer;
    }
    #deerIcon {
        content: "";
        display: inline-block;
        background-repeat: no-repeat; /* Prevent the image from repeating */
        background-size: contain; /* Scale the image to fit within the dimensions */
        display: flex;
        align-items: center;
        display: flex;
        vertical-align: auto;
        background-image: url('../../../images/deerIcon.png');
        transition: 0.3s;
        width: 90%; /* Adjust the width of the image */
        height: 15vh; /* Adjust the height of the image */
    }
}

.sidenav:hover {
    width: 15vw; /* Expand on hover */
    .text {
        display: block; /* Show text on hover */
        opacity: 1; /* Gradually increase opacity */
        transition: 0.3s;
    }
    .icon {
        transition: 0.3s;
        padding-right: 0.7vw;
    }
    #deerIcon {
        transition: 0.3s;
        width: 45%; /* Adjust the width of the image */
        height: 20vh; /* Adjust the height of the image */
    }
}

.nav-item {
    padding-bottom: 2.7vh;
    display: flex;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
}

.nav-item:hover {
    transform: scale(1.15);
    transition: 0.24s;
}

#liveIcon {
    background-image: url('../../../images/liveIcon.png');
}
#archiveIcon {
    background-image: url('../../../images/archiveIcon.png');
}

