@import '../../../styles.scss';

.sidenav {
    width: 5vw;
    background-color: $light-grey;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: left;
    overflow: hidden;
    transition: 0.3s;

    #spacer {
        flex-grow: 1;
    }

    .text {
        display: none;
        opacity: 0;
        transition: 1s;
        color: $black;
        text-decoration: none;
        font-size: 1.6vw;
        margin-left: 0.4vw;
        align-self: center;
    }

    .icon {
        height: 7vh;
        background-repeat: no-repeat;
        background-size: contain;
        display: flex;
        cursor: pointer;
        aspect-ratio: 1;
    }

    #deerIcon {
        background-repeat: no-repeat;
        background-size: contain;
        display: flex;
        background-image: url('../../../images/deerIcon.png');
        margin-left: 0.2vw;
        height: 13vh;
        margin-bottom: 1vh;
    }
}

.sideNavStatus {
    width: 15vw;

    .text {
        display: inline-block;
        opacity: 0;
        white-space: nowrap;
        animation: fadeInText 0.5s ease-out forwards;
        display: inline-block;
        white-space: nowrap;
    }

}

app-user-card {
    margin: 10vh 10vw;
    z-index: 3;
}

.nav-item {
    padding: 0.75vh 0 0.75vh 0.9vw;
    display: flex;
    cursor: pointer;

    &:hover {
        transition: 0.2s;
        background-color: $light-green;
    }
}

#liveIcon {
    background-image: url('../../../images/liveIcon.png');
}

#archiveIcon {
    background-image: url('../../../images/archiveIcon.png');
}

#userManagerIcon {
    background-image: url('../../../images/userManagerIcon.png');
}

#profileIcon {
    background-image: url('../../../images/profileIcon.png');
}

#logsIcon {
    background-image: url('../../../images/logsIcon.png');
}

@keyframes fadeInText {
    from {
        opacity: 0;
        transform: translateX(-10px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}