.sidenav {
    width: 5vw;
    background-color: #583911;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    transition: 0.3s;
    #spacer {
        flex-grow: 1;
    }
    .text {
        display: none;
        opacity: 0;
        transition: opacity 0.5s;
        color: rgb(161, 138, 75);
        text-decoration: none;
        font-size: 2vw;
    }
    .icon {
        width: 3vw;
        height: 7vh;
        background-repeat: no-repeat;
        background-size: contain;
        transition: 0.3s;
        display: flex;
        cursor: pointer;
    }
    #deerIcon {
        background-repeat: no-repeat;
        background-size: contain;
        display: flex;
        background-image: url('../../../images/deerIcon.png');
        transition: 0.3s;
        width: 90%;
        height: 13%;
    }
}

.sidenav:hover {
    width: 15vw;
    .text {
        display: block;
        opacity: 1;
        transition: 0.3s;
    }
    .icon {
        transition: 0.3s;
        padding-right: 0.7vw;
    }
    #deerIcon {
        transition: 0.25s;
        width: 45%;
        height: 20%;
    }
}

.nav-item {
    padding-bottom: 1.5vh;
    display: flex;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
}

.nav-item:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

#liveIcon {
    background-image: url('../../../images/liveIcon.png');
}
#archiveIcon {
    background-image: url('../../../images/archiveIcon.png');
}
#userManagerIcon {
    background-image: url('../../../images/userManagerIcon.png');
}
#profileIcon {
    background-image: url('../../../images/profileIcon.png');
}

