<body>
    <h2 id="title">Room Inforamtion</h2>
    <div *ngIf="roomInfo" id="info">
        <label class="generalInfo">Users amount: {{roomInfo.userCount}}</label>
        <label class="generalInfo">Channels amount: {{roomInfo.channelsCount}}</label>
        <label class="generalInfo">Room blocked: {{isBlocked}}</label>
        <label class="generalInfo">Room recording: {{isRecording}}</label>

        <div class="chatContainer">
            <div class="chatHeader">
                <h2>Room chat</h2>
            </div>
            <div class="chatBox">
                <div class="messagesContainer">
                    <div class="emptyChat" *ngIf="roomInfo.messages.length === 0">No messages</div>
                    <div class="messageBox" *ngFor="let roomMessage of roomInfo.messages">
                        <div class="message">
                            <span>{{roomMessage.username}}</span>
                            <p>{{roomMessage.message}}</p>
                        </div>
                    </div>
                </div>
                <div class="enterMessage">
                    <input type="text" placeholder="Enter your message.." #messageInput/>
                    <a (click)="sendMessage()" class="send">Send</a>
                </div>

            </div>
        </div>

        <mat-expansion-panel id="userList">
            <mat-expansion-panel-header>
                <mat-panel-title id="userListTitle">
                    User list
                </mat-panel-title>
                <mat-icon style="margin-right: 0.5vw;">supervisor_account</mat-icon>
            </mat-expansion-panel-header>
            <div id="users">
                <div class="userElement" *ngFor="let user of roomInfo.users">
                    <mat-icon class="userIcon">account_circle</mat-icon>
                    <div class="nameGroup">
                        <label class="username">{{user.givenName}}</label>
                        <label class="group"> {{user.group}}</label>
                    </div>
                    <button *ngIf="group !== 'users' && username !== user.givenName" mat-icon-button [matMenuTriggerFor]="menu"
                        id="actions-button">
                        <mat-icon id="actions-menu-icon">more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item (click)="kickUser(user.givenName)">
                            <mat-icon>exit_to_app</mat-icon>
                            <span>Kick user</span>
                        </button>
                    </mat-menu>
                </div>
            </div>
        </mat-expansion-panel>
    </div>
</body>