@import '../../../../../../../styles.scss';

$width: 25vw;


::ng-deep {
    mat-expansion-panel {
        .mat-expansion-panel-body {
            padding: 0 0.9vw 1vh !important;
            margin-top: 1vh;
        }

        mat-expansion-panel-header {
            border-bottom: 1px solid $primary !important;
            height: 8vh !important;
        }
    }
}

body {
    position: absolute;
    height: calc(100vh - $header-height);
    width: $width;
    right: 0;
    z-index: 2;
    background-color: $secondary;
    overflow-y: auto;
    overflow-x: hidden;


    #title {
        margin-top: 0;
        padding: 1.5vh;
        color: white;
        text-align: center;
        width: $width;
        border-bottom: 1px solid gray;
        font-size: 1.5vw;
    }

    #info {
        color: white;
        margin-left: 1vw;
        display: flex;
        flex-direction: column;


        .generalInfo {
            font-size: 1.1vw;
            padding-bottom: 1.2vh;
        }

        .chatContainer {
            width: 23vw;
            display: block;
            margin: 2vh 0;
            border-radius: 4px;

            .chatHeader {
                text-align: center;
                background-color: #707c85;
                color: black;
                border-radius: 4px 4px 0 0;

                h2 {
                    margin: 1.8vh;
                    font-size: 1.3vw;
                    display: inline-block;
                }
            }

            .chatBox {
                background: #464647;
                color: #a1a1a1;
                padding: 0 1vw;
                border-radius: 0 0 4px 4px;

                .messagesContainer {
                    max-height: 34vh;
                    overflow-y: auto;
                    overflow-x: hidden;

                }

                .messageBox {
                    padding: 1vh 0;

                    .message {
                        font-size: 1vw;
                        background: #d3d3d3;
                        display: inline-block;
                        padding: 0.5rem;
                        width: 20vw;
                        border-radius: 5px;
                        position: relative;

                        span {
                            color: #555;
                            font-weight: bold;
                        }

                        p {
                            margin: 0.6vh 0;
                            color: black;
                        }

                    }

                }

                .enterMessage {
                    background: #464647;
                    color: #a1a1a1;
                    display: grid;
                    grid-template-columns: 4fr 1fr;
                    padding: 1.4vh 0;

                    input {
                        border: none;
                        padding: 1vh 1vw;
                        background: #d3d3d3;
                        width: 14vw;
                        border-radius: 4px;
                    }

                    .send {
                        padding: 1vh 1vw;
                        font-size: 1vw;
                        border-radius: 2px;
                        background: #1760ca;
                        color: white;
                        text-decoration: none;

                        &:hover {
                            filter: saturate(10%);
                            transition: 0.15s;
                        }
                    }
                }
            }
        }

        #userList {
            width: 23vw;
            background-color: #707c85;

            mat-expansion-panel-header {
                height: 6vh !important;
            }

            .userElement {
                display: grid;
                grid-template-columns: 1fr 5fr 0.5fr;

                align-items: center;
                border-radius: 8px;

                .userIcon {
                    font-size: 2.2vw;
                    height: 6vh;
                    width: 2.8vw;
                }

                .nameGroup {
                    display: flex;
                    flex-direction: column;

                    .username {
                        font-size: 1.5vw;
                    }

                    .group {
                        font-size: 1vw;
                    }

                }

                .options {
                    cursor: pointer;
                    border-radius: 14px;

                    &:hover {
                        background: #636363;
                    }
                }

                &:hover {
                    background-color: #353a3d;
                    color: #979797;
                    transition: 0.1s;
                }
            }
        }

    }
}