<body>
    <div class="login-container">
        <div class="info">
            <h1>Login</h1>
            <div class="text-input">
                <input type="text" required="true" id="username" #username />
                <label>Username</label>
            </div>
            <div class="text-input">
                <input type="password" required="true" id="password" #password />
                <label>Password</label>
            </div>

            <input type="button" id="login-button" value="OK" (click)="authenticateUser()" />
        </div>
        <div class="logo"></div>
    </div>
</body>