body {
    background-color: 3f3f3f;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
}

.login-container {
    background-color: white;
    padding: 0 6rem 2rem;
    border-radius: 2rem;
    text-align: center;
    margin-top: 10vh;
    margin-left: 35vw;
    height: fit-content;
    background-image: url('../../../images/keyIcon.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

h1 {
    color: black;
    font-size: 2.5rem;
}

.text-input {
    border-radius: 3vh 3vh 0 0;
    border: none;
    border-bottom: 0.3rem solid black;
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    text-align: left;
    background-color: #c7c7c7;
    width: 18vw;
    margin-bottom: 5vh;
    outline: none;
    &::placeholder {
        color: #3f3f3f;
    }
}
#password {
    margin-bottom: 19vh;
}

#login-button {
    background-color: black;
    font-size: 1rem;
    font-weight: bolder;
    color: #808080;
    border: none;
    padding: 20px 34px;
    border-radius: 2rem;
    cursor: pointer;
    &:hover {
        background-color: rgb(39, 39, 39);
    }
}
