@import '../../../styles.scss';

#container {
    display: flex;
    flex-wrap: wrap;
    width: calc(100vw - $nav-width);
    justify-content: center;

    .video-item {
        padding: 0.5rem;
    }

}

#title-container {
    margin-top: 2vh;
    margin-left: 42vw;
    display: flex;
    align-items: center;
    border-radius: 2vh;
    height: 8vh;
    
    #title {
        font-size: 7vh;
        color: $black;
        padding-left: 1vw;
    }
    #recordingButton {
        background-color: $red;
        background-image: url('../../../images/recordingButton.png');
        width: 6vw;
        height: 6vh;
        cursor: pointer;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center center;
        border-radius: 20rem;
        margin-left: 1vw;
    }
    .recordingStart {
        background-image: url('../../../images/stopRecording.png') !important;
    }
}

#container.empty {
    width: 94vw;
    height: 77vh;
    background-image: url('../../../images/noStreamsIcon.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}