#container {
    display: flex;
    flex-wrap: wrap;
    margin-left: 10rem;
    app-channel {
        display: flex;
        padding: 0.5rem;
    }
}
#title {
    display: flex;
    margin: 0 0 0 41vw;
    font-size: 7vh;
    color: rgb(59, 18, 18);
}
