<div id="my-form">
    <div id="info-container">
        <div class="user-info" id="tab-name">{{user.givenName}}</div>
        <div class="user-info" id="tab-mail">{{user.mail}}</div>
        <div class="user-info" id="tab-phone">{{user.telephoneNumber}}</div>
    </div>
    <label id="panelty">panelty: {{panelty}}</label>
    <input id="reset-button" type="button" (click)="resetPanelty()" value="reset panelty" />

    <div id="strikes">
        <mat-expansion-panel id="strikesHistory">
            <mat-expansion-panel-header>
                <mat-panel-title id="strikesHistoryTitle">
                    Strikes history
                </mat-panel-title>
                <mat-icon style="margin-right: 0.5vw;">history</mat-icon>
            </mat-expansion-panel-header>
            <label id="noHistory" *ngIf="irrelevantStrikes.length < 1">No prior strikes</label>
            <div id="test" *ngIf="irrelevantStrikes.length > 0">
                <tr>
                    <th>strike</th>
                    <th>date</th>
                </tr>
                <tr *ngFor="let strike of irrelevantStrikes">
                    <td>{{strike.strike}}</td>
                    <td>{{strike.time}}</td>
                </tr>
            </div>
        </mat-expansion-panel>
        <table>
            <tr>
                <th>strike</th>
                <th>date</th>
            </tr>
            <tr *ngFor="let strike of relevantStrikes">
                <td>{{strike.strike}}</td>
                <td>{{strike.time}}</td>
            </tr>
        </table>
    </div>
</div>