<div id="my-form">
    <div id="info-container">
        <div class="user-info" id="tab-name">{{user.givenName}}</div>
        <div class="user-info" id="tab-mail">{{user.mail}}</div>
        <div class="user-info" id="tab-phone">{{user.telephoneNumber}}</div>
    </div>
    <label id="panelty">panelty: {{panelty}}</label>
    <input id="reset-button" type="button" (click)="resetPanelty()" value="reset panelty" />

    <div id="strikes">
        <table>
            <tr>
                <th>strike</th>
                <th>date</th>
            </tr>

            <tr *ngFor="let strike of strikes">
                <td>{{strike.strike}}</td>
                <td>{{strike.time}}</td>
            </tr>
        </table>
    </div>
</div>