@import '../../../../../../../styles.scss';

$border-radius: 0.4rem;


#my-form {
    #info-container {
        display: flex;
        justify-content: space-between;
        width: 100%;
        border-bottom: 1px solid $black;
    }
    
    .user-info {
        padding: 0.8vw;
        background-color: $light-blue;
        font-weight: bolder;
    }
    
    #tab-name {
        border-top-left-radius: $border-radius;
    }
    
    #tab-mail {
        border-top-right-radius: $border-radius;
    }
    
    #tab-phone {
        border-top-right-radius: $border-radius;
    }

    #panelty {
        margin-top: 1.5vh;
    }

    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    background-color: $light-blue;
    border-radius: $border-radius;
    border: 0.1vw solid $black;
    padding: 1.4vw;
    z-index: 3;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    #reset-button {
        margin-top: 1vh;
        margin-bottom: 2.5vh;
        border-radius: 0.5em;
        border: none;
        font-size: 1vw;
        background-color: $black;
        color: $background;
        padding: 1vh 2vw;
        cursor: pointer;
        transition: .2s;

        &:hover {
            background-color: $light-black;
        }
    }
    .mat-mdc-table {
        max-height: 42;
        overflow: auto;
    }
}