<div id="my-form">
    <div id="info-container">
        <div class="user-info" id="tab-name">{{user.givenName}}</div>
        <div class="user-info" id="tab-mail">{{user.mail}}</div>
        <div class="user-info" id="tab-phone">{{user.telephoneNumber}}</div>
    </div>
    <label id="panelty">panelty: {{panelty}}</label>
    <input id="reset-button" type="button" (click)="resetPanelty()" value="reset panelty" />

    <table mat-table [dataSource]="strikes">
        <ng-container matColumnDef="strike">
            <th mat-header-cell *matHeaderCellDef> strike </th>
            <td mat-cell *matCellDef="let strike"> {{strike.strike}} </td>
        </ng-container>
        <ng-container matColumnDef="time">
            <th mat-header-cell *matHeaderCellDef> time </th>
            <td mat-cell *matCellDef="let strike"> {{strike.time}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
    </table>

</div>