@import "../../../../../styles.scss";

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: calc(100vw - $nav-width);

    app-room-box {
        padding: 5vh 1vw 5vh 2vw;
        height: min-content;
    }
}

.empty {
    background-image: url("../../../../../images/serverErrorIcon.png");
    background-repeat: no-repeat;
    background-position: center center;
    width: calc(100vw - $nav-width);
    height: calc(100vh - $header-height);
}