@import '../../../../../../../styles.scss';

$border-radius: 0.4rem;

#my-form {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    grid-template-rows: 1fr 1fr 1fr 2fr;
    align-items: center;
    row-gap: 0.7vh;
    color: #f2f2f2;
    position: fixed;
    background-color: $secondary;
    border-radius: $border-radius;
    padding: 1.4vw;
    z-index: 3;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .time {
        width: fit-content;
        padding: 1.5vh;
        outline: none;
        border: none;
        border-radius: $border-radius;
        color: #f2f2f2;
        background-color: $primary;
        width: inherit;
    
        &:focus {
            filter: saturate(10%);
        }
    }
    .time::-webkit-calendar-picker-indicator {
        filter: invert(100%);
    }
    
    
    .file {
        background-color: $primary;
        width: fit-content;
        padding: 1.5vh;
        border-radius: $border-radius;
        color: #f2f2f2;
    }

    select {
        color: #f2f2f2;
        padding: 1.5vh;
        border-radius: $border-radius;
        border: none;
        background-color: $primary;
        width: inherit;
    
        &:focus {
            filter: saturate(10%);
        }
    }
}
.buttons {
    grid-column: 1 / 3;
    display: flex;
    justify-content: center;
    height: 8vh;
    margin-bottom: -5vh;


    .button {
        background-color: $highlight;
        width: 7vw;
        color: #f2f2f2;
        padding: 0.73vw 1.46vw;
        border: none;
        cursor: pointer;
        border-radius: $border-radius;
        margin-right: 0.73vw;
        margin-bottom: 1vh;

        &.cancel {
            background-color: #b34444;
        }
    
        &:hover {
            filter: saturate(10%);
        }
    }
    
}
