@import '../../../../../../../styles.scss';

$border-radius: 0.4rem;

#my-form {
    color: #f2f2f2;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    background-color: $secondary;
    border-radius: $border-radius;
    padding: 1.4vw;
    z-index: 3;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.time {
    width: fit-content;
    padding: 1.5vh;
    margin-bottom: 2.45vh;
    outline: none;
    border-radius: $border-radius;
    border: 0.2vw solid black;
    color: #f2f2f2;
    background-color: gray;

    &:focus {
        filter: saturate(10%);
    }
}


.file {
    background-color: $primary;
    width: fit-content;
    padding: 1.5vh;
    margin-bottom: 2.45vh;
    background-color: $primary;
    border-radius: $border-radius;
    color: #f2f2f2;
}

.button {
    background-color: $highlight;
    color: #f2f2f2;
    padding: 0.73vw 1.46vw;
    border: none;
    cursor: pointer;
    border-radius: $border-radius;
    margin-right: 0.73vw;
    margin-bottom: 1vh;

    &:hover {
        filter: saturate(10%);
    }
}

select {
    color: #f2f2f2;
    width: fit-content;
    padding: 1.5vh;
    margin-bottom: 2.45vh;
    border-radius: $border-radius;
    border: 0.2vw solid black;
    background-color: gray;

    &:focus {
        filter: saturate(10%);
    }
}