$black: rgb(34 29 33);
$background: rgb(251, 246, 247);
$red: rgb(190, 45, 62);
$blue: rgb(190, 218, 211);
$green: rgb(182, 209, 97);
$grey: rgba(105, 107, 110, 0.712);
$light-green: rgb(219, 232, 176);
$light-grey: rgb(228, 238, 196);
$light-blue: rgb(225 232 230);
$light-black: rgb(59, 57, 58);

$nav-width: 5vw;
$nav-expanded-width: 15vw;
$header-height: 7.9vh;

body {
    margin: 0;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
