$primary: #1c262d;
$secondary: #141b1f;
$highlight: #1760ca;


$nav-width: 5vw;
$nav-expanded-width: 15vw;
$header-height: 7.9vh;

body {
    margin: 0;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
