$black: rgb(34 29 33);
$background: rgb(251, 246, 247);
$red: rgb(190, 45, 62);
$blue: rgb(189, 207, 203);
$green: rgb(182, 209, 97);
$light-green: rgb(219, 232, 176);
$light-grey: rgb(228, 238, 196);
$light-blue: rgb(225 232 230);
$light-black: rgb(59, 57, 58);

//https://www.realtimecolors.com/dashboard?colors=180f10-fbf6f7-bc5662-a7c7c0-b6d161&fonts=Poppins-Poppins
body {
    margin: 0;
}
