@import '../../../../../../../styles.scss';

#tab-bar {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: $secondary;
    height: 5.27vh;
    border-radius: 15px 15px 0 0;

    #title {
        font-size: 2.3vh;
        color: #999fa3;
        justify-self: left;
        margin-left: 1vw;
    }

    #icons {
        display: flex;
        justify-content: right;
        .icon {
            background-repeat: no-repeat;
            background-size: contain;
            text-decoration: none;
        }
    
        #streamIcon {
            background-image: url('../../../../../../../images/streamIcon.png');
            width: 3vw;
            height: 3vh;
            margin-top: 1.3vh;
            margin-right: 0.5vw;
    
            &.blocked {
                background-image: url('../../../../../../../images/channelBlockedIcon.png');
                width: 4vw;
                height: 7vh;
            }
        }

        #recordingIcon {
            background-image: url('../../../../../../../images/recordingIcon.png');
            animation: blink 2s infinite;
            margin-top: 0.6vh;
            width: 3vw;
            height: 4vh;
        }
    }


}

#video-item {
    .video-js {
        position: relative;
        display: flex;
        width: auto;
        height: 20vw;
        aspect-ratio: 479 / 269;
    }

    &.motionDetected {
        border: 2px solid #fc0005;
    }
}



@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}