@import '../../../../../../../styles.scss';


.test {
    background-image: url('../../../../../../../images/channelBlockedIcon.png');
    
}

#tab-bar {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: black;
    border-bottom: 1px solid white;
    height: 6.5vh;
    border-radius: 15px 15px 0 0;

    #title-menu {
        height: 6.5vh;
        display: flex;
        justify-self: left;

        
    #actions-menu-icon::ng-deep {
        color: #999fa3;
    }
    .mat-mdc-icon-button.mat-mdc-button-base::ng-deep {
        padding: 1.4vh;
    }

    #actions-button::ng-deep {
        height: 100%;
    }

        #title {
            font-size: 3vh;
            color: #999fa3;
            margin-top: 1.2vh;
        }
    }


    #icons {
        display: flex;
        justify-content: right;
        height: 6.4vh;

        .icon {
            height: 5vh;
            margin-top: 0.3vh;
        }
    
        #streamIcon {
            width: 3vw;
        }

        #recordingIcon {
            width: 2.4vw;
        }

        #motionDetectionIcon {
            width: 2.8vw;
        }
    }


}

.vjs-poster{
    background-size: 100% !important;
 }

#video-item {

    .video-js {
        width: auto;
        height: 20vw;
        aspect-ratio: 479 / 269;
    }

    &.motionDetected {
        border: 2px solid #fc0005;
    }
}
